<h1> Links </h1>
<%= link_to "Logout", logout_path, method: :delete %>

<%= form_for(@link, url: {action: "create"}) do |f| %>
  <%= f.label :title, 'Title' %>
  <%= f.text_field :title %>
  <%= f.label :url, 'URL' %>
  <%= f.text_field :url %>
  <%= f.submit "Create Link"  %>
<% end %>

<h2>Your links</h2>
<div id="link-list">
  <ul>
  <% @links.each do |link| %>
    <div class='link' data-id='<%=link.id%>'>
      <li><h5> Added Link <%= link.id%> on<%= link.created_at %> </h5></li>
      <li><%= link.title %></li>
      <li><%= link_to link.url, link.url, :target => "_blank" %></li>
      <li class="link-status" id='link-status<%= link.id %>' > Read? <%= link.read %></li> 
        <button data-id='<%= link.id %>' id='toggle-link-status'><%= has_read?(link) %></button>
        
    </div>
  <% end %>
  <ul>
</div>

