<h1> Links </h1>
<%= link_to "Logout", logout_path, method: :delete %>

<form style="text-align: center" class='ui-filterable'>
  <input type="text" id='filter' data-type='search' class="search-bar" placeholder="Search">
</form>
<br>
<%= form_for(@link, url: {action: "create"}) do |f| %>
  <%= f.label :title, 'Title' %>
  <%= f.text_field :title %>
  <%= f.label :url, 'URL' %>
  <%= f.text_field :url %>
  <%= f.submit "Create Link"  %>
<% end %>

<h2>Your links</h2>
<div id="link-list">
  <table class="link-table ui-filterable">
    <tr id="header">
      <th>Title</th>
      <th>Link</th>
      <th>Already Read?</th>
      <th>Update Status</th>
    </tr>
    <tbody>
      <% @links.each do |link| %>
      <tr class="link-row" data-id="<%=link.id%>" data-status="<%=link.read%>">
        <td class='title-field' data-filter='true' data-input='#filter' data-id="<%=link.id%>" contenteditable="true"> <%= link.title %> </td>
        <td class='url-field' data-filter='true' data-input='#filter' data-id="<%=link.id%>" contenteditable="true" style="text-decoration: <%if link.read %> line-through <% else %> none <% end %>"> <%= link.url %> </td>
        <td id='link-status-<%=link.id%>'>Read? <%= link.read %></td>
        <td id="toggle-link-status"><button class="button" data-id="<%=link.id%>" data-status="<%=link.read%>"><% if link.read %>Mark as Unread<% else %> Mark as Read <% end %></button></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

