<!DOCTYPE html>
<html>
  <head>
    <title>Urlockbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "top-navbar flash-#{type}" %>
      <br>
    <% end %>
  <div class="col-md-3">

    <%= yield %>
  </body>
</html>
